.flag {
	width: 16px;
	height: 11px;
	background:url(flags.png) no-repeat
}

.flag.flag-ae {background-position: -16px 0}
.flag.flag-af {background-position: -32px 0}
.flag.flag-ag {background-position: -48px 0}
.flag.flag-au {background-position: 0 -11px}
.flag.flag-bd {background-position: -16px -11px}
.flag.flag-england {background-position: -32px -11px}
.flag.flag-ie {background-position: -48px -11px}
.flag.flag-in {background-position: 0 -22px}
.flag.flag-lk {background-position: -16px -22px}
.flag.flag-nz {background-position: -32px -22px}
.flag.flag-pk {background-position: -48px -22px}
.flag.flag-scotland {background-position: 0 -33px}
.flag.flag-za {background-position: -16px -33px}
.flag.flag-zw {background-position: -32px -33px}
