html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: "Segoe UI", Candara, Helvetica, Corbel, sans-serif;
	margin: 0 0 60px 0;
	background-image: url("../images/bg.png");
}

noscript {
	font-size: 1.4em;
	display: block;
	color: red;
	margin: 10px 10px;
}

noscript strong {
	font-weight: bold;
}

#to_top {
	position: fixed;
	bottom: 10%;
	right: 8%;
	z-index: 40000000;
	display: none;
}

#to_top img {
	height: 50px;
	width: auto;
	opacity: 0.4;
	cursor: pointer;
	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}

#to_top img:hover {
	opacity: 0.8;
}
header {
	padding: 30px 0 10px 0;
	text-align: left;
	color: white;
	opacity: 0.8;
}

header img {
	height: 220px;
	width: 300px;
	max-width: 100%;
	margin-left: 90px;
}

.heading {
	color: "red";
	margin: 10px 0 0 0;
	font-family: "Cambria Math", Cambria, serif;
	font-size: 1.2em;
}

#statsBtn {
	display: none;
	margin: 40px auto auto auto;
	background: #3D3D3D;
	text-align: center;
	color: white;
	width: 35%;
	padding: 10px 1px;
	border-radius: 10px 10px 10px 10px;
	font-family: Candara, Corbel, serif;
	font-size: 1;
	box-shadow: 3px 2px 2px gray;
	cursor: pointer;
	-webkit-transition: background 0.2s ease-out;
	-moz-transition: background 0.2s ease-out;
	-o-transition: background 0.2s ease-out;
	transition: background 0.2s ease-out;
	
}

#statsBtn:hover {
	background: #141414;
}
table {
	margin: 3px 0 0 0;
	font-size: 0.75em;
}
table th {
	font-weight: bold;
}
table td, table th {
	text-align: center;
	border-collapse: collapse;
	padding: 7px 10px;
	border: 1px solid #f0f0ff;
	background-color: #ffffff;
	color: navy;
}

section {
	margin: 0 0 40px 0;
	font-size: 1.2em;
	padding: 10px 20px;
	font-family: "Segoe UI", Candara, Corbel, Cambria, Tahoma, serif;
	overflow: hidden;
}

#fixture td, #fixture th{
	text-align: left;
	border: none;
	padding: 16px 15px;
	background-color: transparent;
	cursor: pointer;
	-webkit-transition: background 0.2s ease-out;
	-moz-transition: background 0.2s ease-out;
	-o-transition: background 0.2s ease-out;
	transition: background 0.2s ease-out;
}

#fixture tr:nth-of-type(2n) td {
	background: #FFFFFF;
	
}

#fixture tr:hover td {
	background: #6959CD;
	color: white;
}

#fixture tr:last-of-type {
	border-bottom: none;
}

#fixture .team1 {
	padding-right: 0;
}

#fixture .team2 {
	padding-left: 0;
}

.separator {
	font-weight: bold;
	vertical-align: center;
	background-color: #6959CD;
	font-size: 1.1em;
}

.separator td {
	color: white;
}

footer {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 60px;
	width: 100%;
	font-family: Cambria, Candara, Corbel, Georgia, sans-serif;
	text-align: center;
}

footer p {
	line-height: 1.4;
}

footer a {
	text-decoration: none;
	color: brown;
}

@media handheld, only screen and (max-width: 767px) {
	header img {
		margin: 0;
	}
	
	section {
		font-size: 1em;
		padding: 0;
		margin-top: 30px;
	}
	
	.stats {
		font-size: 0.7em;
	}
	
	.stats th, .stats td {
		padding: 2px 10px;
	}
	
	#fixture td, #fixture th {
		padding: 13px 1.8%;
		margin: 0;
		width: 6.533%;
		font-size: 0.95em;
	}
	
	#fixture tr td:last-of-type {
		padding-left: 0;
		margin-left: 0;
		padding-right: 0;
		margin-right: 0;
		text-align: right;
	}
	
	.flag1, .flag2 {
		display: none;
	}
	
	td img {
		display: none;
	}
	
	#fixture tr:hover td {
		background: inherit;
		color: inherit;
	}
	
	#fixture tr {
		border: none;
	}
	#fixture tr:nth-of-type(2n) td {
		background-color: white;
		z-index: 1000000;
	}
	
	#statsBtn {
		display: block;
	}
	
	footer {
		font-size: 0.85em;
	}
}